<div class="row">
  <div class="col-md-4">
    <div class="card meal-details">
      <div class="card-header" style="color: red">
        <span style="">Meal Details <%= Date.today.strftime('%B %Y') %></span>
      </div>
      <div class="card-body">
        <!-- <p class="meal-details">Meal Details <%= Date.today.month %></p> -->
        <table class="table table-striped">
          <thead>
          <th>Date</th>
          <th>Breakfast</th>
          <th>Lunch</th>
          <th>Dinner</th>
          </thead>
          <tbody>
            <%- (Date.today.beginning_of_month..Date.today.end_of_month).each do |date| %>
                <tr>
                  <td><%= date.to_s %></td>
                  <%- meal = @data[:meals].find{ |m| m['date'] == date } %>
                  <%- if meal.nil? %>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                  <%- else %>
                      <td><%= meal['num_breakfast_taken'] rescue 0 %></td>
                      <td><%= meal['num_lunch_taken'] rescue 0 %></td>
                      <td><%= meal['num_dinner_taken'] rescue 0 %></td>
                  <%- end %>
                </tr>
            <%- end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col">

  </div>
</div>
